<p>add user</p>
<div class="wrapper fadeInDown">
    <div id="formContent">
  
  
  
  
        <!-- Login Form -->
        <form>
            <input type="email" name="email" [(ngModel)]=" email" class="fadeIn second" placeholder="email">
            <input type="password" name="password" [(ngModel)]=" password" class="fadeIn third" placeholder="password">
            <input type="text" name="role" [(ngModel)]="role" class="fadeIn third" placeholder="role">
  
        </form>
  
        <button (click)="add()" class="fadeIn fourth"> add</button>
  
  
  
    </div>
</div>

<p>remove user</p>
<form>
    <input type="email" name="email2" [(ngModel)]=" email2" class="fadeIn second" placeholder="email">
    <input type="password" name="password2" [(ngModel)]=" password2" class="fadeIn third" placeholder="password">
</form>

<button (click)="delete()" class="fadeIn fourth"> delete</button>


